version: '3.8'

services:
  backend:
    image: ghcr.io/devs-wescctech/app-peticoesbr-backend:latest
    container_name: peticoesbr-backend
    restart: unless-stopped
    ports:
      - "3001:3001"
    environment:
      - NODE_ENV=production
      - PORT=3001
      - DATABASE_URL=postgresql://sup_cristian:17qysrutiov35W@172.17.0.1:5432/peticoesbr
      - JWT_SECRET=2Iz5EHu2ZKRnebbtxV+R/e1JcPxjX/zcF68Xt5q/mXo=
      - JWT_REFRESH_SECRET=Rluyhnj/nLYM7C/gr+mCCQguNGP6J4uuzFDDqG+uyoQ=
    volumes:
      - /var/www/html/peticoesbr/uploads:/app/uploads
    networks:
      - peticoesbr-network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3001/api/health"]
      interval: 30s
      timeout: 3s
      retries: 3
      start_period: 40s

  frontend:
    image: ghcr.io/devs-wescctech/app-peticoesbr-frontend:latest
    container_name: peticoesbr-frontend
    restart: unless-stopped
    ports:
      - "8080:80"
      - "8443:443"
    depends_on:
      - backend
    networks:
      - peticoesbr-network
    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://127.0.0.1/"]
      interval: 30s
      timeout: 3s
      retries: 3
      start_period: 10s

networks:
  peticoesbr-network:
    driver: bridge
